.Body {
	background-color: white;
	width: 100%;
	height: fit-content;
}


.info2{
	position: relative;
	
	width: 100%;
	height: fit-content;
	min-height: 250px;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
}

.info2 h2, .info2 h1, .info2 h3{
	width: 80%;
	max-width: 700px;
	z-index: 100;
	font-size: 1.3em;
	padding: 20px;
	color: white;
	font-weight: 100;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

.info2 div{
	z-index: 100;
	background-color: rgba(0,0,0,0.45);
	width: 100%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info2 h1{
	font-size: 3em;
	font-weight: 500;
	font-family: 'Marcellus', serif;
}
.info2 h3{
	font-size: 1.5em;
}


.info2-image{
	margin-top: 20px;
	width: 100%;
	height: auto;
	position: absolute;
}

.info2::after{
	content: '';
	width: 101%;
	height: 101%;
	position: absolute;
	background-color: rgba(0,0,0,0.4);

}

.showCase{
	position: relative;
	width: 100%;
	height: 90vh;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 220px 220px 220px;
	
	column-gap: 7%;
}

@media (max-width: 900px) {
    .showCase{
		padding-top: 20px;
		grid-template-columns: 130px 130px;
		column-gap: auto;
		height: 40vh;
	}
	.info2{
		flex-direction: column;
	}
	.info2 h2{
		width: 80%;
	}
	
}