.header-carousel-container {
	position: relative;
	width: 50%;
	max-width: 600px;
	height: 150px;
	background-color: white;
}

.fade-blocker {
	z-index: 100;
	position: absolute;
	right: 0;
	width: 20%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.fade-blocker-left {
	display: none;
	z-index: 100;
	position: absolute;
	left: 0;
	width: 20%;
	height: 100%;
	background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.text-container {
	height: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: white;
}

.text-container h4 {
	text-align: left;
	color: grey;
}

@media (max-width: 900px) {

	.fade-blocker-left {
		display: block;
	}

	.header-carousel-container {
		height: fit-content;
		width: 90%;
	}

	.text-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.text-container h4 {
		font-size: 0.8em;
		text-align: center;
	}
}
