.slideImageContainer {
	position: relative;
	width: 100%;
	height: fit-content;
	min-height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
}

.slideImageContainer h2 {
	width: 80%;
	max-width: 700px;
	z-index: 100;
	font-size: 1.3em;
	padding: 10px;
	color: white;
	font-weight: 100;
	font-family: "Nunito Sans", sans-serif;
	text-align: justify;
}
/* .slideImageContainer div {
	margin-top: -20px;
	z-index: 100;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: white;
} */

.slideImageContainer-image {
	margin-top: 20px;
	width: 100%;
	height: auto;
	position: absolute;
}

.slideImageContainer::after {
	content: "";
	width: 101%;
	height: 101%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {

	.slideImageContainer h2 {
		width: 80%;
		font-size: 1em;
	}
}
