.timetable {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	height: 100%;
	min-height: 250px;
	width: 100%;
	max-width: 900px;
}

.timetableContainer {
	height: 100%;
	min-height: 200px;
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.timetableContainer h2 {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
}

.timetableContainer h2 h4 {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	font-weight: 300;
}

.timetableContainer a {
	font-size: 3.2em;
	margin: 0;
	padding: 0;
	color: white;
}

.timetableContainer a:hover {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.timetableContainer a:last-child {
	animation: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	width: 100%;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@media (max-width: 900px) {

	.timetable {
		flex-direction: column;
	}

	.timetableContainer {
		width: 100%;
	}

	.timetableContainer:last-child {
		min-height: 100px;
	}

	.timetableContainer:last-child::before {
		content: "";
		width: 90%;
		height: 2px;
		background-color: rgb(168, 168, 168);
		max-width: 350px;
	}

	.timetableContainer:last-child a {
		font-size: 1.3em;
	}

	.timetableContainer a:last-child {
		font-size: 0.7em;
	}
}
